/* A simple deep-map-get function to load
nested map values from the yaml or json data files */

@function data($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  $result: unquote(inspect($value));
    //  Inspect is used here to silence a warning about depricating
    //  none-string unquoting in future versions of sass  
  @return $result;
}