.f-controls {
	@include clearfix;
	div {
		box-sizing: border-box;
		width: 33%;
		padding: 0.75em 0;
		text-align: center;
		float: left;
		cursor: pointer;
		color: $color--menu-heading-text;
		border-right: $color--menu-heading-border 1px solid;
		&:hover:not(.f-active) {
			color: $color--menu-item-text;
		}
		&:last-child {
			border-right: none;
		}
	}
	.f-active {
		color: $color--accent;
		background-color: $color--menu-item-hover;
	}
}
