.f-controls {
	@include clearfix;
	.f-icon {
		box-sizing: border-box;
		width: 33%;
		padding: 0.75em 0;
		text-align: center;
		float: left;
		cursor: pointer;
		border-right: $color--menu-heading-border 1px solid;
		&:hover:not(.f-active) {
			use {
				fill: $color--menu-item-text;
			}
		}
		&:last-child {
			border-right: none;
		}
		svg {
			width: 1em;
			height: 1em;
			display: inline-block;
			vertical-align: middle;
		}
		use {
			fill: $color--menu-heading-text;
		}
	}
	.f-active {
		color: $color--accent;
		background-color: $color--menu-item-hover;
	}
}
