.f-item-group {
	@include clearfix;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
}

.f-item-preview {
	@include clearfix;
}

.f-item-border-bottom {
	border-bottom: 1px solid map-get($colors, light);
}

.f-item-heading-group {
	@include clearfix;
	margin-bottom: 0.5em;
	padding: 0.5em 0;
	border-bottom: 1px solid map-get($colors, light);
	color: map-get($colors, medium);
	vertical-align: middle;

	.f-item-heading {
		font-size: 0.75em;
		display: inline-block;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.f-item-toggles {
		float: right;
		display: inline-block;

		svg {
			width: 1em;
			height: 1em;
			display: inline-block;
			vertical-align: middle;

			use {
				fill: map-get($colors, medium);
			}
		}
	}

	.f-toggle {
		margin-left: 0.2em;
		cursor: pointer;
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
	font-size: 0.875em;
	color: darken(map-get($colors, medium), 13%);

	p {
		line-height: 1.875;
	}
}
