/* item */
.f-item-group {
	margin-bottom: 2em;
	line-height: 1;
}

.f-item-heading-group {
	@include clearfix;
	margin-bottom: 0.5em;
	padding: 0.5em 0;
	border-bottom: 1px solid $color--light;
	color: $color--medium;
	vertical-align: middle;
	.f-item-heading {
		font-size: 0.75em;
		display: inline-block;
	}
	.f-item-toggles {
		float: right;
		display: inline-block;
	}
	.f-toggle {
		margin-left: 0.2em;
		cursor: pointer;
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
	font-size: 0.875em;
	color: darken($color--medium, 13%);
}
