// menu
.f-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: $menu-width;
	height: 100%;
	background-color: map-get($colors, menu-background);
	font-size: 16px !important;
	font-family: sans-serif !important;

	@media (min-width: 60em) {
		right: auto;
		left: 0;
	}

	.state--menu-active & {
		visibility: visible;
		-webkit-overflow-scrolling: touch;
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-bottom: 1em;

		> li {
			> a {
				margin-top: 1em;
			}
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 0.75em 3em;
		color: map-get($colors, normal) !important;
		text-decoration: none;
		font-size: 0.75em;
		line-height: 1;
		transition: background-color 200ms;

		&:hover {
			color: map-get($colors, normal) !important;
			text-decoration: none;
			font-weight: 400;
		}

		&.f-active {
			font-weight: 700;
			color: map-get($colors, emphasis) !important;
		}
	}

	.f-menu__heading {
		padding-left: 2em;
		color: map-get($colors, normal) !important;
		font-weight: 700;

		&:hover {
			color: map-get($colors, normal);
			font-weight: 700;
		}
	}
}

.f-controls-menu {
	border-top: 1px solid map-get($colors, normal);
}

.f-menu-bar {
	@include clearfix;
}

.f-menu-toggle {
	float: right;
	border: 0;
	cursor: pointer;

	svg {
		width: 2em;
		height: 2em;
	}

	@media (min-width: 60em) {
		display: none;
	}
}
