<nav class="f-menu" role="navigation">
	<ul>
		<li>
			<a href="index.html">Overview</a>
		</li>
		<li>
			<a href="components.html">Components</a>
			<ul>
				<%
					_.each(components, function(html, key) {

					var niceName = key.toTitleCase(),
						id = key.toDashDelimited();
				%>
					<li>
						<a href="components.html#<%- id%>"><%- niceName %></a>
					</li>
				<% }) %>
			</ul>
		</li>
		<li>
			<a href="structures.html">Structures</a>
			<ul>
				<%
					_.each(structures, function(html, key) {

					var niceName = key.toTitleCase(),
						id = key.toDashDelimited();
				%>
					<li>
						<a href="structures.html#<%- id%>"><%- niceName %></a>
					</li>
				<% }) %>
			</ul>
		</li>
		<li>
			<a href="documentation.html">Documentation</a>
			<ul>
				<% _.each(documentation, function(item) { %>
					<li>
						<a href="documentation.html#<%- item.id%>"><%- item.niceName %></a>
					</li>
				<% }) %>
			</ul>
		</li>
	</ul>
</nav>
