<nav class="f-menu" role="navigation">
	<ul>
		<li>
			<a href="index.html">Overview</a>
		</li>
		<li>
			<a href="components.html">Components</a>
			<ul>
				<% _.each(components, function(item) { %>

					<li>
						<a href="components.html#<%- item.name%>"><%- item.niceName %></a>
					</li>

				<% }) %>
			</ul>
		</li>
		<li>
			<a href="#">Structures</a>
			<ul>
				<li>
					<a href="#">Header</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="documentation.html">Documentation</a>
			<ul>
				<% _.each(documentation, function(item) { %>

					<li>
						<a href="documentation.html#<%- item.name%>"><%- item.niceName %></a>
					</li>

				<% }) %>
			</ul>
		</li>
	</ul>
</nav>
