{{> intro}}

{{> menu}}

<div class="f-container">
	<div class="f-main">

		<div class="f-menu-bar">
			<div class="f-menu-toggle">
				<svg>
					<use xlink:href="#f-icon-menu" />
				</svg>
			</div>
		</div>

		<h1 data-f-toggle="details">Components</h1>

		{{#each components}}

			<div class="f-item-group" id="{{id}}">

				<div class="f-item-heading-group" data-f-toggle="details">
					<a href="#{{id}}" class="f-item-heading">{{name}}</a>
					<div class="f-item-toggles">
						{{#if notes}}<span class="f-toggle f-icon" data-f-toggle-control="notes" title="toggle notes">
							<svg>
								<use xlink:href="#f-icon-notes" />
							</svg>
						</span>{{/if}}
						<span class="f-toggle f-icon" data-f-toggle-control="code" title="toggle code">
							<svg>
								<use xlink:href="#f-icon-code" />
							</svg>
						</span>
					</div>
				</div>

				{{#if notes}}<div class="f-item-notes" data-f-toggle="notes">
					{{{notes}}}
				</div>{{/if}}

				<div class="f-item-preview">
					{{{content}}}
				</div>

				<div class="f-item-code f-item-hidden" data-f-toggle="code">
					<pre><code class="language-markup">{{content}}</code></pre>
				</div>

			</div>

		{{/each}}

	</div>
</div>

{{> outro}}
