{{> intro}}

{{> menu}}

<div class="f-container">
	<div class="f-main">

		<div class="f-menu-bar">
			<div class="f-menu-toggle">
				<svg>
					<use xlink:href="#f-icon-menu" />
				</svg>
			</div>
		</div>

		<h1>Overview</h1>

		<p>This is a guide on how to use the front-end toolkit. Download the following CSS and JavaScript files to get started:</p>

		<p>
			<a href="toolkit/styles/toolkit.css" target="_blank">Download toolkit.css</a>
		</p>

		<p>
			<a href="toolkit/scripts/toolkit.js" target="_blank">Download toolkit.js</a>
		</p>

		<h2>Colors</h2>

		<div class="f-color-chip f-color-chip--primary">
			<div class="f-color-chip__name">Dark</div>
			<div class="f-color-chip__color">#203040</div>
		</div>

		<div class="f-color-chip f-color-chip--primary margin-bottom">
			<div class="f-color-chip__name">Light</div>
			<div class="f-color-chip__color">#ecf0f1</div>
		</div>

		<br>

		<div class="f-color-chip">
			<div class="f-color-chip__name">orange</div>
			<div class="f-color-chip__color">#f37042</div>
		</div>

		<div class="f-color-chip">
			<div class="f-color-chip__name">yellow</div>
			<div class="f-color-chip__color">#ffde00</div>
		</div>

	</div>
</div>

{{> outro}}
