{{> intro}}

{{> menu}}

<div class="f-container">
	<div class="f-main">
		<div class="f-menu-bar">
			<span class="f-menu-toggle f-icon-menu"></span>
		</div>

		<h1>Overview</h1>

		<p>This is where the general art direction should go.</p>

		<p>At a minimum this page should include:</p>

		<ul>
			<li>Tone/emotion summary</li>
			<li>Colors</li>
			<li>Animations</li>
			<li>Icons</li>
		</ul>

		<h2>Colors</h2>

		<div class="f-color-chip f-color-chip--primary" data-color="#203040">
			<div class="f-color-chip_name">Dark</div>
		</div>

		<div class="f-color-chip f-color-chip--primary margin-bottom" data-color="#ecf0f1">
			<div class="f-color-chip_name">Light</div>
		</div>

		<br>

		<div class="f-color-chip" data-color="#f37042">
			<div class="f-color-chip_name">orange</div>
		</div>

		<div class="f-color-chip" data-color="#ffde00">
			<div class="f-color-chip_name">yellow</div>
		</div>

	</div>
</div>

{{> outro}}
