{{> intro}}

{{> menu}}

<div class="f-container">
	<div class="f-main">

		<div class="f-menu-bar">
			<div class="f-menu-toggle">
				<svg>
					<use xlink:href="#f-icon-menu" />
				</svg>
			</div>
		</div>

		<h1>Overview</h1>

		<p>The front-end toolkit is a highly-modular design system for building web pages. It contains a collection of components and structures that can be assembled into more complex page layouts.</p>

		<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

		<p>Start by adding the following files to your page:</p>

		<p>
			<a href="toolkit/styles/toolkit.css" target="_blank">toolkit.css</a>
			<a href="toolkit/scripts/toolkit.js" target="_blank">toolkit.js</a>
		</p>

		<hr>

		<h2>Color</h2>

		<div class="f-color-chip f-color-chip--primary">
			<div class="f-color-chip__name">Dark</div>
			<div class="f-color-chip__color">rgb(30,30,30)</div>
		</div>

		<div class="f-color-chip f-color-chip--primary margin-bottom">
			<div class="f-color-chip__name">Light</div>
			<div class="f-color-chip__color">rgb(242,242,242)</div>
		</div>

		<br>

		<div class="f-color-chip">
			<div class="f-color-chip__name">Red</div>
			<div class="f-color-chip__color">rgb(201,55,6)</div>
		</div>

		<div class="f-color-chip">
			<div class="f-color-chip__name">Yellow</div>
			<div class="f-color-chip__color">rgb(252,207,80)</div>
		</div>

		<div class="f-color-chip">
			<div class="f-color-chip__name">Blue</div>
			<div class="f-color-chip__color">rgb(39,102,143)</div>
		</div>

		<hr>

		<h2>Typography</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

		<h1>Heading Level 1</h1>
		<h2>Heading Level 2</h2>
		<h3>Heading Level 3</h3>
		<h4>Heading Level 4</h4>
		<h5>Heading Level 5</h5>
		<h6>Heading Level 6</h6>

	</div>
</div>

{{> outro}}
