{{> intro}}

{{> menu}}

<div class="f-container">
	<div class="f-main">

		<div class="f-menu-bar">
			<span class="f-menu-toggle f-icon-menu"></span>
		</div>

		<h1 data-toggle="details">Structures</h1>

		{{#each structures}}

			<div class="f-item-group" id="{{id}}">

				<div class="f-item-heading-group" data-toggle="details">
					<span class="f-item-heading">{{name}}</span>
					<div class="f-item-toggles">
						{{#if notes}}<span class="f-toggle f-icon-notes" data-toggle-control="notes" title="toggle notes"></span>{{/if}}
						<span class="f-toggle f-icon-code" data-toggle-control="code" title="toggle code"></span>
					</div>
				</div>

				<div class="f-item-notes">
					{{{notes}}}
				</div>

				<div class="f-item-preview">
					{{{content}}}
				</div>

				{{#if notes}}<div class="f-item-notes" data-toggle="notes">
					{{{notes}}}
				</div>{{/if}}

				<div class="f-item-code" data-toggle="code">
					<pre><code class="language-markup">{{content}}</code></pre>
				</div>

			</div>

		{{/each}}

	</div>
</div>

{{> outro}}
