---
title: Overview | Toolkit
fabricator: true
---

<h1>Overview</h1>

<p>This UI toolkit is a modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Toolkit Materials</h2>

<ul>
	{{#each materials}}
	<li>
		<a href="{{@key}}.html">{{name}}</a>
	</li>
	{{/each}}
	<li>
		<a href="pages.html">Pages</a>
	</li>
</ul>

<h2>Usage</h2>

<p>TODO: describe how to use/integrate a toolkit</p>

<p><a href="docs.html">Read the docs</a></p>

<h2>Fabricator</h2>

<p>TODO: info about Fabricator</p>
