<div class="f-controls">
	<div class="f-control f-global-control" data-f-toggle-control="labels" title="Toggle Labels">
		<svg>
			<use xlink:href="#f-icon-labels" />
		</svg>
	</div>
	<div class="f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
		<svg>
			<use xlink:href="#f-icon-notes" />
		</svg>
	</div>
	<div class="f-control f-global-control" data-f-toggle-control="markup" title="Toggle Markup">
		<svg>
			<use xlink:href="#f-icon-code" />
		</svg>
	</div>

<!-- 	<div class="f-control f-global-control" data-f-toggle-control="css" title="Toggle CSS">
		<svg>
			<use xlink:href="#f-icon-css" />
		</svg>
	</div>

	<div class="f-control f-global-control" data-f-toggle-control="js" title="Toggle JavaScript">
		<svg style="width: 19px; height: 27px; top: -4px; position: relative;">
			<use xlink:href="#f-icon-js" />
		</svg>
	</div> -->
</div>
