<div class="f-controls">
	<div class="f-control f-menu-toggle">
		<svg>
			<use xlink:href="#f-icon-menu" />
		</svg>
		<!-- <div class="f-control-label">Menu</div> -->
	</div>
	<div class="f-controls-right">
		<div class="f-control" data-f-toggle-control="details" title="Toggle Details">
			<svg>
				<use xlink:href="#f-icon-details" />
			</svg>
			<!-- <div class="f-control-label">Details</div> -->
		</div>
		<div class="f-control" data-f-toggle-control="notes" title="Toggle Notes">
			<svg>
				<use xlink:href="#f-icon-notes" />
			</svg>
			<!-- <div class="f-control-label">Notes</div> -->
		</div>
		<div class="f-control" data-f-toggle-control="code" title="Toggle Code">
			<svg>
				<use xlink:href="#f-icon-code" />
			</svg>
			<!-- <div class="f-control-label">Code</div> -->
		</div>
	</div>
</div>
