<div class="f-item-controls">
	{{#if notes}}<span class="f-control f-icon" data-f-toggle-control="notes" title="Toggle Notes">
		<svg>
			<use xlink:href="#f-icon-notes" />
		</svg>
	</span>{{/if}}
	<span class="f-control f-icon" data-f-toggle-control="markup" title="Toggle Markup">
		<svg>
			<use xlink:href="#f-icon-code" />
		</svg>
	</span>
	<span class="f-control f-icon" data-f-toggle-control="css" title="Toggle CSS">
		<svg>
			<use xlink:href="#f-icon-css" />
		</svg>
	</span>
	<span class="f-control f-icon" data-f-toggle-control="js" title="Toggle JavaScript">
		<svg style="width: 19px; height: 27px; top: -4px; position: relative;">
			<use xlink:href="#f-icon-js" />
		</svg>
	</span>
</div>
