.f-controls {
	@include clearfix;
	div {
		width: 50%;
		padding: 1em 0;
		text-align: center;
		float: left;
		cursor: pointer;
		color: $color--heading;
		&:hover:not(.f-active) {
			color: #fff;
			background-color: $color--dark;
		}
	}
	.f-active {
		color: $color--dark;
		background-color: $color--accent;
	}
}
