/* menu */
.f-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: $menu-width;
	height: 100%;
	background-color: $color--menu-background;
	font-size: 16px !important;
	font-family: sans-serif !important;
	@media (min-width: 60em) {
		right: auto;
		left: 0;
	}
	.state--menu-active & {
		visibility: visible;
		-webkit-overflow-scrolling: touch;
	}
	ul {
		margin-top: 0;
		padding-left: 0;
	}
	> ul {
		margin-bottom: 0;
		border-bottom: $color--menu-heading-border 1px solid;
	}
	li {
		list-style-type: none;
	}
	a {
		display: block;
		padding: 0.875em 3em;
		color: $color--menu-item-text !important;
		text-decoration: none;
		font-size: 0.875em;
		font-weight: 200;
		line-height: 1;
		transition: (background-color 200ms);
		&:hover {
			background-color: $color--menu-item-hover;
		}
		&.f-active {
			background-color: $color--menu-item-hover;
			box-shadow: inset 3px 0 0 $color--accent;
		}
	}
	.f-menu__heading {
		padding-left: 2em;
		border-top: $color--menu-heading-border 1px solid;
		color: $color--menu-heading-text !important;
		&:hover {
			color: $color--menu-item-text;
		}
	}
	.f-menu__tag {
		display: block;
		padding: 0;
		border-bottom: $color--menu-heading-border 1px solid;
		> img {
			display: block;
			width: 100%;
		}
	}
}

.f-menu-bar {
	@include clearfix;
	margin-bottom: 1em;
}

.f-menu-toggle {
	float: right;
	border: none;
	font-size: 2em;
	cursor: pointer;
	@media (min-width: 60em) {
		display: none;
	}
}
