// colors

// `$theme--dark`: (boolean) to toggle "dark" or "light" theme
$theme--dark: true;

$color--dark: rgb(30, 30, 30);
$color--medium: rgb(150, 150, 150);
$color--light: rgb(242, 242, 242);
$color--accent: #51c1ab;

$color--menu-background: if($theme--dark, lighten($color--dark, 4%), lighten($color--light, 4%));
$color--menu-heading-text: $color--medium;
$color--menu-heading-border: if($theme--dark, $color--dark, darken($color--light, 4%));
$color--menu-item-hover: if($theme--dark, $color--dark, $color--light);
$color--menu-item-text: if($theme--dark, $color--light, $color--dark);


// menu
$menu-width: 16rem;


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}
	&:before,
	&:after {
		display: table;
		content: "";
	}
}

@mixin transition {
	transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

@mixin borderBox {
	box-sizing: border-box;
}
