/* variables */
$color--primary: rgb(3, 3, 3);
$color--primary-contrast: rgb(242, 242, 242);
$color--background: rgb(255, 255, 255);

$color--menu-background: #c0c8c8;
$color--heading: #5a7777;
$color--rule: #cedcdc;

$menu-width: 16em;


/* placeholders */
@mixin clearfix {
	&:after {
		clear: both;
	}
	&:before,
	&:after {
		display: table;
		content: "";
	}
}

@mixin transition {
	transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

@mixin borderBox {
	box-sizing: border-box;
}
