.f-controls {
	@include clearfix;
	@include border-box;
	border-bottom: 1px solid map-get($colors, light);

	&-right {
		float: right;
	}
}

.f-control {
	@include border-box;
	display: inline-block;
	cursor: pointer;
	padding: 1rem 0;
	margin-left: 0.618rem;

	&:first-child {
		margin-left: 0;
	}

	svg {
		width: 1rem;
		height: 1rem;
		margin: 0 auto;
		display: inline-block;
		vertical-align: middle;

		use {
			fill: map-get($colors, normal);
		}
	}
}

.f-menu-toggle {
	transform: rotate(0);

	.f-menu-active & {
		transform: rotate(180deg);
	}
}
