.f-controls {
	@include clearfix;
	@include border-box;
	background-color: map-get($colors, menu-background);
	border-bottom: 1px solid map-get($colors, light);
	padding: 0 1em;

	&-right {
		float: right;
	}

	.f-control {
		@include border-box;
		display: block;
		float: left;
		cursor: pointer;
		padding: 1rem 0;
		margin-left: 1em;

		&:first-child {
			margin-left: 0
		}

		&.f-active {
			color: map-get($colors, accent);

			svg use {
				fill: map-get($colors, accent);
			}
		}

		&-label {
			font-size: 0.5em;
			text-transform: uppercase;
			margin-top: 1em;
		}

		svg {
			width: 1rem;
			height: 1rem;
			margin: 0 auto;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
