// menu
.f-menu {
	@include transition;
	@include border-box;
	position: absolute;
	top: auto;
	left: 0;
	transform: translate(-$menu-width, 0);
	width: $menu-width;
	height: 100%;
	z-index: 1;
	background-color: map-get($colors, menu-background);
	border-right: 1px solid map-get($colors, light);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-bottom: 1em;
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 1em 3em;
		color: map-get($colors, normal) !important;
		text-decoration: none;
		font-size: 0.75em;
		line-height: 1;

		&:hover {
			color: map-get($colors, normal) !important;
			background-color: map-get($colors, light) !important;
			text-decoration: none;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 map-get($colors, accent);
		}
	}

	.f-menu__heading {
		padding-left: 2em;
		color: map-get($colors, normal) !important;

		&:hover {
			color: map-get($colors, normal);
		}
	}
}
