// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-$menu-width, 0);
	width: $menu-width;
	height: 100%;
	z-index: 1;
	background-color: color(menu-background);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: 1rem;

		> li {
			margin-top: 1rem;
		}
	}

	li {
		position: relative;
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 0.33rem 2rem;
		color: color(menu-text) !important;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 1.5;

		&:hover {
			color: color(menu-text) !important;
			text-decoration: underline;
		}

		&.f-active {
			box-shadow: inset 0.25rem 0 0 0 color(accent);
		}
	}

	.f-menu__heading {
		padding-left: 1.5rem;
		font-weight: 700;
		font-size: 0.875rem;

		&:hover {
			color: color(normal);
		}
	}

	.f-menu__accordion {
		li a {
			padding-left: 2.7rem;
			box-sizing: border-box
		}

		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.3s ease;
		-webkit-backface-visibility: hidden;
	}

	.f-menu__accordion-group {
		.control {
			position: absolute;
			left: 10px;
			top: 8px;
			cursor: pointer;
			width: 10px;
			height: 10px;

			&:after {
				font-size: .75rem;
				font-weight: bold;
				content: '+';
				display: block;
				color: map-get($colors, menu-text) !important;
			}
		}

		&.is-open {
			.control {
				left: 12px;

				&:after {
					content: '-';
				}
			}

			.f-menu__accordion {
				max-height: 1200px;
			}
		}
	}
}
