// colors
$base-colors: (
	dark: rgb(30, 30, 30),
	medium: rgb(160, 160, 160),
	light: rgb(242, 242, 242)
);

$theme-dark: (
	menu-background: lighten(map-get($base-colors, dark), 4%),
	emphasis: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: rgb(255, 255, 255),
	emphasis: map-get($base-colors, dark),
	normal: darken(map-get($base-colors, medium), 10%)
);

$theme: $theme-light;

$colors: map-merge($base-colors, $theme);

// menu
$menu-width: 14rem;

// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin transition {
	transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

@mixin borderBox {
	box-sizing: border-box;
}
