// colors
$base-colors: (
	dark: rgb(30, 30, 30),
	medium: rgb(118, 118, 118),
	light: rgb(238, 238, 238),
	accent: #9696b2
);

$theme-dark: (
	menu-background: lighten(map-get($base-colors, dark), 4%),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: rgb(255, 255, 255),
	normal: map-get($base-colors, medium)
);

$theme: $theme-light;

$colors: map-merge($base-colors, $theme);

$menu-width: 14rem;


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}
