<!doctype html>
<html {{#if buildConfig.ngAppName}}data-ng-app="{{buildConfig.ngAppName}}"{{/if}}>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{#if title}}{{title}}{{else}}{{package.name}} v{{package.version}}{{/if}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="./{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<link rel="icon" type="image/x-icon" href="./{{baseurl}}/assets/toolkit/images/favicon.ico"/>

	{{#each buildConfig.toolkitStyles}}
		<link rel="stylesheet" href="./{{../baseurl}}/assets/toolkit/styles/{{this}}.css">
	{{/each}}
</head>
<body>
	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}

	{% body %}

	{{#if fabricator}}
		</div>
	<script src="./{{baseurl}}/assets/fabricator/scripts/f.js"></script>
	{{/if}}

	{{#each buildConfig.toolkitScripts}}
		<script src="./{{../baseurl}}/assets/toolkit/scripts/{{this}}.js"></script>
	{{/each}}
</body>
</html>
